<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
   <link rel="stylesheet" href="./events.css">
   <link rel="stylesheet" href="./events__responsive.css">
   <title>Document</title>
</head>
<body>
   <header class="header">
      <div class="header__top">
         <div class="container">
            <div class="header__top__wrapper">
               <div class="header__hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
               </div>
               <div class="header__top__left">
                  <div class="header__top__logo">
                     <a href="">
                        <img src="../../assets/icons/header/header__top/l3 1.png" alt="">
                     </a>
                  </div>
                  <div class="header__top__search">
                     <input placeholder="Найти игру" type="text">
                     <img src="../../assets/icons/header/header__top/akar-icons_search.png" alt="" class="header__top__search__icon">
                  </div>
               </div>
               <div class="header__top__right">
                  <div class="header__top__num">
                     <img src="../../assets/icons/header/header__top/icomoon-free_phone.png" alt="">
                     <a href="">+7 (495) 911-10-11</a>
                  </div>
                  <div class="header__top__user">
                     <a href="../account/profile/profile.html"  class="header__top__user__account">
                        <img src="../../assets/icons/header/header__top/Vector.png" alt="">
                     </a>
                     <a href="../cart/cart.html"  class="header__top__user__cart">
                        <img src="../../assets/icons/header/header__top/Group (1).png" alt="">
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <nav class="navbar">
         <div class="container">
            <div class="navbar__wrapper">
               <div class="navbar__links">
                  <div class="navbar__links__hamburger">
                     <div class="navbar__links__hamburger__btn">
                        <span></span>
                        <span></span>
                        <span></span>
                     </div>
                     <a>Каталог</a>
                  </div>
                  <ul>
                     <li><a href="../warhammer/warhammer.html" >Wharhammer</a></li>
                     <li><a href="../events/events.html" >Мероприятия</a></li>
                     <li><a href="../about/about.html" >О центре</a></li>
                     <li><a href="../about/about.html" >Контакты</a></li>
                  </ul>
               </div>
               <div class="navbar__social">
                  <ul>
                     <li><a href=""><img src="../../assets/icons/header/navigation/bi_instagram.png" alt=""></a></li>
                     <li><a href=""><img src="../../assets/icons/header/navigation/vk.png" alt=""></a></li>
                     <li><a href=""><img src="../../assets/icons/header/navigation/fb.png" alt=""></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </nav>
             <div class="catalog__menu ">
         <div class="container">
           <div class="catalog__menu__list">
             <ul>
               <li class="main__category__list"><a class="" > <span>✕</span> <span>Все категории</span></a></li>
               <li>
                  <a href=""><span>Настольные игры</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <div class="category__sub">
                     <h3>Настольные игры</h3>
                     <ul class="category__sub__menu">
                        <li><a href="">Альтернативные миниатюры (69)</a></li>
                        <li><a href="">Warhammer 40k (400)</a></li>
                        <li><a href="">Age of Sigmar (263)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Nercomunda (21)</a></li>
                        <li><a href="">Lord of the Rings(16)</a></li>
                        <li><a href="">Blood Bowl (28)</a></li>
                        <li><a href="">Titanicus (4)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Warhammer: Underworlds (22)</a></li>
                        <li><a href="">Killtem (4)</a></li>
                     </ul>
                  </div>
               </li>
               <li>
                  <a href=""><span>Warhammer 40000</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <div class="category__sub">
                     <h3>Warhammer 40000</h3>
                     <ul class="category__sub__menu">
                        <li><a href="">Альтернативные миниатюры (69)</a></li>
                        <li><a href="">Warhammer 40k (400)</a></li>
                        <li><a href="">Age of Sigmar (263)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Nercomunda (21)</a></li>
                        <li><a href="">Lord of the Rings(16)</a></li>
                        <li><a href="">Blood Bowl (28)</a></li>
                        <li><a href="">Titanicus (4)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Warhammer: Underworlds (22)</a></li>
                        <li><a href="">Killtem (4)</a></li>
                     </ul>
                  </div>
               </li>
               <li>
                  <a href=""><span>Magic: the Gathering</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <div class="category__sub">
                     <h3>Magic: the Gathering</h3>
                     <ul class="category__sub__menu">
                        <li><a href="">Альтернативные миниатюры (69)</a></li>
                        <li><a href="">Warhammer 40k (400)</a></li>
                        <li><a href="">Age of Sigmar (263)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Nercomunda (21)</a></li>
                        <li><a href="">Lord of the Rings(16)</a></li>
                        <li><a href="">Blood Bowl (28)</a></li>
                        <li><a href="">Titanicus (4)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Warhammer: Underworlds (22)</a></li>
                        <li><a href="">Killtem (4)</a></li>
                     </ul>
                  </div>
               </li>
               <li>
                  <a href=""><span>Аксессуары для игр</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <div class="category__sub">
                     <h3>Аксессуары для игр</h3>
                     <ul class="category__sub__menu">
                        <li><a href="">Альтернативные миниатюры (69)</a></li>
                        <li><a href="">Warhammer 40k (400)</a></li>
                        <li><a href="">Age of Sigmar (263)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Nercomunda (21)</a></li>
                        <li><a href="">Lord of the Rings(16)</a></li>
                        <li><a href="">Blood Bowl (28)</a></li>
                        <li><a href="">Titanicus (4)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Warhammer: Underworlds (22)</a></li>
                        <li><a href="">Killtem (4)</a></li>
                     </ul>
                  </div>
               </li>
               <li>
                  <a href=""><span>Краски</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <div class="category__sub">
                     <h3>Краски</h3>
                     <ul class="category__sub__menu">
                        <li><a href="">Альтернативные миниатюры (69)</a></li>
                        <li><a href="">Warhammer 40k (400)</a></li>
                        <li><a href="">Age of Sigmar (263)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Nercomunda (21)</a></li>
                        <li><a href="">Lord of the Rings(16)</a></li>
                        <li><a href="">Blood Bowl (28)</a></li>
                        <li><a href="">Titanicus (4)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Warhammer: Underworlds (22)</a></li>
                        <li><a href="">Killtem (4)</a></li>
                     </ul>
                  </div>
               </li>
               <li>
                  <a href=""><span>Товары для детей</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <div class="category__sub">
                     <h3>Товары для детей</h3>
                     <ul class="category__sub__menu">
                        <li><a href="">Альтернативные миниатюры (69)</a></li>
                        <li><a href="">Warhammer 40k (400)</a></li>
                        <li><a href="">Age of Sigmar (263)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Nercomunda (21)</a></li>
                        <li><a href="">Lord of the Rings(16)</a></li>
                        <li><a href="">Blood Bowl (28)</a></li>
                        <li><a href="">Titanicus (4)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Warhammer: Underworlds (22)</a></li>
                        <li><a href="">Killtem (4)</a></li>
                     </ul>
                  </div>
               </li>
               <li>
                  <a href=""><span>Аксессуары моделизма</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <div class="category__sub">
                     <h3>Аксессуары моделизма</h3>
                     <ul class="category__sub__menu">
                        <li><a href="">Альтернативные миниатюры (69)</a></li>
                        <li><a href="">Warhammer 40k (400)</a></li>
                        <li><a href="">Age of Sigmar (263)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Nercomunda (21)</a></li>
                        <li><a href="">Lord of the Rings(16)</a></li>
                        <li><a href="">Blood Bowl (28)</a></li>
                        <li><a href="">Titanicus (4)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Warhammer: Underworlds (22)</a></li>
                        <li><a href="">Killtem (4)</a></li>
                     </ul>
                  </div>
               </li>
   
             </ul>
           </div>
         </div>
       </div>
      <div class="container search__bottom__container">
         <div class="header__top__search search__bottom">
            <input placeholder="Найти игру" type="text">
            <img src="../../assets/icons/header/header__top/akar-icons_search.png" alt="" class="header__top__search__icon">
         </div>
      </div>

     
   </header>

   <div class="page__links">
      <div class="container">
         <div class="page__links__wrapper">
            <a href="" class="page__link">Главная</a>
            <div>></div>
            <a href="" class="page__link">Мероприятия</a>
         </div>
      </div>
   </div>

   
   <div class="page page__events">
      <div class="container">
         <div class="section__title"><span>Мероприятия</span> <span class="page__events__filter"><i class="fa fa-filter" aria-hidden="true"></i></span></div>
         <div class="events__wrapper">
            <div class="events__lists">
               <a href="../event/event.html"  class="event">
                  <img src="../../assets/images/events/image 16.png" alt="">
                  <div class="event__box">
                     <div class="event__box__top">
                        <div class="event__box__top__left">
                           <div class="event__box__top__name">
                              Halloween c GoldFish 
                           </div>
                           <div class="event__box__top__date">
                              31.10.2022 19:00   
                           </div>
                        </div>
                        <div class="event__box__top__price">
                           350₽
                        </div>
                     </div>
                     <div class="event__box__desc">
                        <div class="event__box__desc__text">
                           Мы соберемся,чтобы узнать,кто же 
                           все-таки был Мафией и что будет 
                           с тем,кого убили..
                        </div>
                        <div class="event__box__desc__arrow">
                           →
                        </div>
                     </div>
                  </div>
               </a>
               <a href="../event/event.html"  class="event" >
                  <img src="../../assets/images/events/image 16.png" alt="">
                  <div class="event__box">
                     <div class="event__box__top">
                        <div class="event__box__top__left">
                           <div class="event__box__top__name">
                              Halloween c GoldFish 
                           </div>
                           <div class="event__box__top__date">
                              31.10.2022 19:00   
                           </div>
                        </div>
                        <div class="event__box__top__price">
                           350₽
                        </div>
                     </div>
                     <div class="event__box__desc">
                        <div class="event__box__desc__text">
                           Мы соберемся,чтобы узнать,кто же 
                           все-таки был Мафией и что будет 
                           с тем,кого убили..
                        </div>
                        <div class="event__box__desc__arrow">
                           →
                        </div>
                     </div>
                  </div>
               </a>
               <a href="../event/event.html"  class="event">
                  <img src="../../assets/images/events/image 16.png" alt="">
                  <div class="event__box">
                     <div class="event__box__top">
                        <div class="event__box__top__left">
                           <div class="event__box__top__name">
                              Halloween c GoldFish 
                           </div>
                           <div class="event__box__top__date">
                              31.10.2022 19:00   
                           </div>
                        </div>
                        <div class="event__box__top__price">
                           350₽
                        </div>
                     </div>
                     <div class="event__box__desc">
                        <div class="event__box__desc__text">
                           Мы соберемся,чтобы узнать,кто же 
                           все-таки был Мафией и что будет 
                           с тем,кого убили..
                        </div>
                        <div class="event__box__desc__arrow">
                           →
                        </div>
                     </div>
                  </div>
               </a>
               <a href="../event/event.html"  class="event">
                  <img src="../../assets/images/events/image 16.png" alt="">
                  <div class="event__box">
                     <div class="event__box__top">
                        <div class="event__box__top__left">
                           <div class="event__box__top__name">
                              Halloween c GoldFish 
                           </div>
                           <div class="event__box__top__date">
                              31.10.2022 19:00   
                           </div>
                        </div>
                        <div class="event__box__top__price">
                           350₽
                        </div>
                     </div>
                     <div class="event__box__desc">
                        <div class="event__box__desc__text">
                           Мы соберемся,чтобы узнать,кто же 
                           все-таки был Мафией и что будет 
                           с тем,кого убили..
                        </div>
                        <div class="event__box__desc__arrow">
                           →
                        </div>
                     </div>
                  </div>
               </a>
               <a href="../event/event.html"  class="event">
                  <img src="../../assets/images/events/image 16.png" alt="">
                  <div class="event__box">
                     <div class="event__box__top">
                        <div class="event__box__top__left">
                           <div class="event__box__top__name">
                              Halloween c GoldFish 
                           </div>
                           <div class="event__box__top__date">
                              31.10.2022 19:00   
                           </div>
                        </div>
                        <div class="event__box__top__price">
                           350₽
                        </div>
                     </div>
                     <div class="event__box__desc">
                        <div class="event__box__desc__text">
                           Мы соберемся,чтобы узнать,кто же 
                           все-таки был Мафией и что будет 
                           с тем,кого убили..
                        </div>
                        <div class="event__box__desc__arrow">
                           →
                        </div>
                     </div>
                  </div>
               </a>
               <a href="../event/event.html"  class="event">
                  <img src="../../assets/images/events/image 16.png" alt="">
                  <div class="event__box">
                     <div class="event__box__top">
                        <div class="event__box__top__left">
                           <div class="event__box__top__name">
                              Halloween c GoldFish 
                           </div>
                           <div class="event__box__top__date">
                              31.10.2022 19:00   
                           </div>
                        </div>
                        <div class="event__box__top__price">
                           350₽
                        </div>
                     </div>
                     <div class="event__box__desc">
                        <div class="event__box__desc__text">
                           Мы соберемся,чтобы узнать,кто же 
                           все-таки был Мафией и что будет 
                           с тем,кого убили..
                        </div>
                        <div class="event__box__desc__arrow">
                           →
                        </div>
                     </div>
                  </div>
               </a>
               <a href="../event/event.html"  class="event">
                  <img src="../../assets/images/events/image 16.png" alt="">
                  <div class="event__box">
                     <div class="event__box__top">
                        <div class="event__box__top__left">
                           <div class="event__box__top__name">
                              Halloween c GoldFish 
                           </div>
                           <div class="event__box__top__date">
                              31.10.2022 19:00   
                           </div>
                        </div>
                        <div class="event__box__top__price">
                           350₽
                        </div>
                     </div>
                     <div class="event__box__desc">
                        <div class="event__box__desc__text">
                           Мы соберемся,чтобы узнать,кто же 
                           все-таки был Мафией и что будет 
                           с тем,кого убили..
                        </div>
                        <div class="event__box__desc__arrow">
                           →
                        </div>
                     </div>
                  </div>
               </a>
               <a href="../event/event.html"  class="event">
                  <img src="../../assets/images/events/image 16.png" alt="">
                  <div class="event__box">
                     <div class="event__box__top">
                        <div class="event__box__top__left">
                           <div class="event__box__top__name">
                              Halloween c GoldFish 
                           </div>
                           <div class="event__box__top__date">
                              31.10.2022 19:00   
                           </div>
                        </div>
                        <div class="event__box__top__price">
                           350₽
                        </div>
                     </div>
                     <div class="event__box__desc">
                        <div class="event__box__desc__text">
                           Мы соберемся,чтобы узнать,кто же 
                           все-таки был Мафией и что будет 
                           с тем,кого убили..
                        </div>
                        <div class="event__box__desc__arrow">
                           →
                        </div>
                     </div>
                  </div>
               </a>

            </div>
            <div class="events__filter">
               <div id="events__filter__calendar">
    
               </div>
               <div class="events__filter__theme">
                  <h5 class="events__filter__theme__title">Тематика</h5>
                  <div class="events__filter__theme__box">
                     <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Magic: the Cathering</label>
                     </div>
                  </div>
                  <div class="events__filter__theme__box">
                     <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Magic: the Cathering</label>
                     </div>
                  </div>
                  <div class="events__filter__theme__box">
                     <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Magic: the Cathering</label>
                     </div>
                  </div>
                  <div class="events__filter__theme__box">
                     <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Magic: the Cathering</label>
                     </div>
                  </div>
                  <div class="events__filter__theme__box">
                     <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Magic: the Cathering</label>
                     </div>
                  </div>
                  <div class="events__filter__theme__box">
                     <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Magic: the Cathering</label>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>



   <footer class="footer">
     
         <div class="footer__top">
            <div class="container">
               <div class="footer__top__wrapper">
                  <div class="footer__top__left">
                     <div class="footer__top__left__logo">
                        <a href="">
                           <img src="../../assets/icons/header/header__top/l3 1.png" alt="">
                        </a>
                     </div>
                     <div class="footer__top__left__adress">
                        г. Москва ст.м. Таганская
                        Малый Дровяной переулок 6
                     </div>
                  </div>
                  <div class="footer__el">
                     <div class="footer__top__links">
                        <ul class="footer__catalog">
                           <div class="footer__list__title">Каталог</div>
                           <li><a href="">
                              Warhammer 40000
                           </a></li>
                           <li><a href="">Настольные игры</a></li>
                           <li><a href="">Magic: the Gathering</a></li>
                           <li><a href="">Аксессуары для игр</a></li>
                           <li><a href=""> Краски</a></li>
                           <li><a href="">Аксессуары для 
                              моделизма</a></li>
                        </ul>
                        <ul class="footer__rules">
                           <div class="footer__list__title">Правила клуба</div>
                           <li><a href="">Мероприятия</a></li>
                           <li><a href="">О нас</a></li>
                           <li><a href="">Контакты</a></li>
                           <li><a href="">Блог</a></li>
                        </ul>
                        <ul class="footer__order">
                           <div class="footer__list__title">Оплата и достака</div>
                           <li><a href="">Гарантия и возврат</a></li>
                        </ul>
                     </div>
                     <div class="footer__right">
                        <div class="footer__top__left__adress__none">
                           г. Москва ст.м. Таганская
                           Малый Дровяной переулок 6
                        </div>
                        <a class="footer__right__btn" href="">Заказать звонок</a>
                        <a href="" class="footer__right__phone">+7 (495) 911-10-11</a>
                        <a href="" class="footer__right__email">msk@magicgoldfish.ru</a>
                        <div class="footer__right__social">
                           <a href=""><img src="../../assets/icons/header/navigation/bi_instagram.png" alt=""></a>
                           <a href=""><img src="../../assets/icons/header/navigation/vk.png" alt=""></a>
                           <a href=""><img src="../../assets/icons/header/navigation/fb.png" alt=""></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer__hr"></div>
         <div class="footer__bottom">
            <div class="container">
               <div class="footer__bottom__wrapper">
                  <div class="footer__bottom__link">
                     © 2021 MagicGoldFish.ru
                     <a href="">Политика конфиденциальности</a>
                  </div>
                  <div class="footer__bottom__cards">
                     <div class="footer__bottom__card"><img src="../../assets/icons/footer/Group (1).png" alt=""></div>
                     <div class="footer__bottom__card"><img src="../../assets/icons/footer/Vector (1).png" alt=""></div>
                     <div class="footer__bottom__card"><img src="../../assets/icons/footer/Group (2).png" alt=""></div>
                  </div>
                  <div class="footer__bottom__link">
                     Содержимое не является публичной офертой
                     <a href="">Пользовательское соглашение</a>
                  </div>
               </div>
            </div>
         </div>
   </footer>

   
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
   <script src="../../assets/scripts/script.js"></script>
</body>
</html>