@import "../../assets/styles/main.css";
@import "../../components/home/home.css";
@import "../../components/home/home__responsive.css";
.elegant__header__body__text {
   max-width: 540px;
}
.elegant__header__body__text__title {
   font-family: var(--main-font-family2);
   font-style: normal;
   font-weight: 700;
   font-size: 49px;
   line-height: 67px;
   text-transform: uppercase;
   color: var(--color1);
}

.elegant__header__body__text__subtitle {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 23px;
   font-family: var(--main-font-family2);
   color: var(--color1);
   margin-top: 12px;
}

.elegant__header__body__text__btn {
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 30px;
   
   color: var(--color6);
   width: 268px;
   height: 63px;
   background: var(--color1);
   border-radius: 9px;
   padding: 4px 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}

.elegant__header__body {
   padding: 260px 0 196px 0;

}
.elegant__navbar {
   position: absolute;
   width: 100%;
   left: 0;
   top: 82px;
   background: rgba(90, 87, 87, 0.31);
}
.elegant__navbar .navbar__links__hamburger__btn span {
   background: var(--color1)
}
header {
   position: relative;
}

.elegant__navbar * {

   color: var(--color1) !important
}


.section__title.elegant {
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 37px;
   color: var(--color1);
   font-family: var(--main-font-family1);
   margin-bottom: 34px;
   margin-top: 92px;
}

.elagant__slider__wrapper {
   display: flex;
   justify-content: space-between;
}


.elegant__catalog__filter {
   background: radial-gradient(51.77% 51.77% at 50% 48.23%, #314453 0%, rgba(22, 26, 29, 0.56) 100%);
   border-radius: 11px;
   padding: 41px;
   height: max-content;
}

.elegant__catalog__filter li {
   font-style: normal;
   font-weight: 700;
   font-size: 19px;
   line-height: 205.11%;
   color: var(--color1);
   font-family: var(--main-font-family1);
}

.elegant__catalog__slider {
   width: 730px;
   overflow: hidden;
}
.elegant__catalog__slider__inner {
   display: flex;
   transition: 0.3s;
   width: max-content;
}
.elegant__catalog__slider__item {
   width: 730px;
}

.elegant__catalog__filter li {
   cursor: pointer;
}

.elegant__catalog__slider__item p {
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   text-align: justify;
   color: var(--color1);
   font-family: var(--main-font-family1);
   margin-top: 30px;
   margin-bottom: 30px;
}

.elegant__catalog__slider__item___btn {
   width: 285px;
   height: 48px;
   background: linear-gradient(183.24deg, #0E151A -6.21%, #323F47 97.32%);
   border-radius: 11px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   color: var(--color1);
   font-family: var(--main-font-family1);
   line-height: 142.11%;
}

.elegant__catalog__slider__item__image {
   border-radius: 11px;
   overflow: hidden;
   width: 100%;
   height: 477px;
}

.elegant__catalog__slider__item__image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.elegant__try .container {
   position: relative;
}
.elegant__try__slider__right, .elegant__try__slider__right__second, .elegant__try__slider__right__third {
   position: absolute;
   right: -48px;
   top: 210px;
   color: var(--color1);
   cursor: pointer;
}

.elegant__try__slider__left, .elegant__try__slider__left__second, .elegant__try__slider__left__third {
   position: absolute;
   left: -48px;
   top: 210px;
   color: var(--color1);
   cursor: pointer;
}
.elegant__try__slider__item {
   padding: 16px;
  
   background: #AEB3B3;
   background: var(--color8);
   box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.16);
   border-radius: 7px;
   margin: 0 15px;
}

.elegant__try__slider__item__title {
   padding: 3px 0;
   border: 1px solid #FEEBF6;
   border-radius: 18px;
   font-family: var(--main-font-family1);
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 128.7%;
   text-align: center;
   color: var(--color1);
   background: var(--color7);
   border: 1px solid #FEEBF6;
   border-radius: 18px;
   width: 110%;
   margin-left: -10px;
   margin-top: -10px;
}

.elegant__try__slider__item__bg {
   height: 100%;
   background: url("../../assets/images/warhammer/Rectangle\ 248.png");
   background-size: cover;
   padding: 20px;
}

.elegant__try__slider__item__colored__bg {
   background: var(--color9);
   height: 100%;
   display: flex;
   flex-direction: column;
   row-gap: 10px;
   border-radius: 0px 0px 7px 7px;
   border: 1px solid #FEEBF6;
}

.elegant__try__slider__item__image {
   width: 90%;
   height: 139px;

   margin: 0 auto;
}

.elegant__try__slider__item__image img {
   width: 100%;
   height: 100%;
   object-fit: fill;
}

.elegant__try__slider__item__price {
   font-style: normal;
   font-weight: 700;
   font-size: 21px;
   font-family: var(--main-font-family1);
   line-height: 24px;
   color: var(--color2);
   text-align: center;
}

.elegant__try__slider__item__btn {
   display: flex;
   justify-content: center;
   align-items: center;
   background: #101F27;
   border: 1px solid #FEEBF6;
   border-radius: 17px;
   width: 110%;
   height: 37px;
   font-family: var(--main-font-family1);
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 128.7%;
   text-align: center;
   margin-left: -10px;
   color: var(--color1);
}

.elegant__try__slider__item__oneclick {
   font-style: normal;
   width: 100%;
   height: 37px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: -15px;
   font-family: var(--main-font-family1);
   color: var(--color2)
}

.elegant__try__slider {
   margin: 0 -15px'
}

.elegant__events__slider__item {
   overflow: visible !important;
   height: 323px;
   border-radius: 11px;
   overflow: hidden;
   margin: 0 15px;
   border: 1px solid #FEEBF6;

   position: relative;
}
.elegant__events__slider__item .elegant__events__slider__item__box {
   position: absolute;
   bottom: 0;
   width: 100%;
   left: 0;
   padding: 11px 18px;
   border: 1px solid #FEEBF6;
   border-radius: 18px;
   background: var(--color7);
   width: 102%;
   margin-left: -6px;
}
.elegant__events__slider__item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 11px
}

.elegant__events__slider {
   margin: 0 -15px;
}

.elegant__events__slider__item__top, .elegant__events__slider__item__text {
   display: flex;
   justify-content: space-between;
}

.elegant__events__slider__item__top {
   font-style: normal;
   font-weight: 700;
   font-size: 19px;
   line-height: 22px;
   color: var(--color1);
   font-family: var(--main-font-family1);
}

.elegant__events__slider__item__top__date {
   font-weight: 400;
}
.elegant__events__slider__item__top__left {
   display: flex;  
}

.elegant__events__slider__item__text {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   color: var(--color1);
   font-family: var(--main-font-family1);
   line-height: 19px;
   margin-top: 5px;
}

.elegantMoreInfo__wrapper {
   display: grid;
   gap: 55px;
   grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
}
.elegantMoreInfo__item {
   position: relative;
}
.elegantMoreInfo__item img {
   width: 100%;
   object-fit: cover;
}

.elegantMoreInfo__item__box__title {
   font-style: normal;
   font-weight: 700;
   font-size: 19px;
   line-height: 22px;
   color: var(--color1);
   font-family: var(--main-font-family1);
}

.elegantMoreInfo__item__box__desc {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   color: var(--color1);
   font-family: var(--main-font-family1);
   line-height: 19px;
   margin-top: 5px;
}

.elegantMoreInfo__item__box {
   position: absolute;
   width: 100%;
   bottom: 0;
   left: 0;
   background: var(--color7);
   border: 1px solid ;
   border-radius: 18px;
   padding: 11px 8px;
   width: 102%;
   margin-left: -3px;
}

.elegantMoreInfo__btn {
   border: 3px solid var(--color1);
   border-radius: 11px;
   height: 71px;
   max-width: 311px;
   width: 1005px;
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 26px;
   color: var(--color1);
   font-family: var(--main-font-family1);
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 122px auto 0 auto;
 
}

.contacts__info.elegant, .contacts__info__more.elegant {
   background: radial-gradient(51.77% 51.77% at 50% 48.23%, #314453 0%, rgba(22, 26, 29, 0.56) 100%);
   padding: 40px 34px;
}
.contacts__info.elegant {
   border-radius: 11px 11px 0 0
}
.contacts__info__more.elegant {
   margin-top: 0px;
   border-radius: 0 0 11px 11px
}

.contacts__map {
   background: #02060B;
   border-radius: 7px;
   padding: 18px 21px;
   height: 100%;
}
.contacts__map iframe {
   height: 100%;
}
.contacts * {
   color: var(--color1) !important
}
.contacts__info__more.elegant input, .contacts__info__more.elegant textarea {
   background: transparent;
   opacity: 0.33;
   border: 1px solid #FFFFFF;
   border-radius: 9px;
   color: var(--color1)
}

.contacts__info__more.elegant  .contacts__info__more__form__row button {
   background: var(--color1);
   color: var(--color6) !important;
   cursor: pointer;
}

.contacts__wrapper {
   margin-top: 30px;
}