<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
   <link rel="stylesheet" href="./home.css">
   <link rel="stylesheet" href="./home__responsive.css">
   <title>Document</title>
</head>

<body>
   <header class="header">
      <div class="header__top">
         <div class="container">
            <div class="header__top__wrapper">
               <div class="header__hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
               </div>
               <div class="header__top__left">
                  <div class="header__top__logo">
                     <a href="">
                        <img src="../../assets/icons/header/header__top/l3 1.png" alt="">
                     </a>
                  </div>
                  <div class="header__top__search">
                     <input placeholder="Найти игру" type="text">
                     <img src="../../assets/icons/header/header__top/akar-icons_search.png" alt=""
                        class="header__top__search__icon">
                  </div>
               </div>
               <div class="header__top__right">
                  <div class="header__top__num">
                     <img src="../../assets/icons/header/header__top/icomoon-free_phone.png" alt="">
                     <a href="">+7 (495) 911-10-11</a>
                  </div>
                  <div class="header__top__user">
                     <a href="" class="header__top__user__account">
                        <img src="../../assets/icons/header/header__top/Vector.png" alt="">
                     </a>
                     <a href="" class="header__top__user__cart">
                        <img src="../../assets/icons/header/header__top/Group (1).png" alt="">
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <nav class="navbar">
         <div class="container">
            <div class="navbar__wrapper">
               <div class="navbar__links">
                  <div class="navbar__links__hamburger">
                     <div class="navbar__links__hamburger__btn">
                        <span></span>
                        <span></span>
                        <span></span>
                     </div>
                     <a>Каталог</a>
                  </div>
                  <ul>
                     <li><a href="">Wharhammer</a></li>
                     <li><a href="">Magic:the Cathering</a></li>
                     <li><a href="">Мероприятия</a></li>
                     <li><a href="">О центре</a></li>
                     <li><a href="">Контакты</a></li>
                  </ul>
               </div>
               <div class="navbar__social">
                  <ul>
                     <li><a href=""><img src="../../assets/icons/header/navigation/bi_instagram.png" alt=""></a></li>
                     <li><a href=""><img src="../../assets/icons/header/navigation/vk.png" alt=""></a></li>
                     <li><a href=""><img src="../../assets/icons/header/navigation/fb.png" alt=""></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </nav>
      
          <div class="catalog__menu ">
         <div class="container">
           <div class="catalog__menu__list">
             <ul>
               <li class="main__category__list"><a class="" > <span>✕</span> <span>Все категории</span></a></li>
               <li>
                  <a href=""><span>Настольные игры</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <div class="category__sub">
                     <h3>Настольные игры</h3>
                     <ul class="category__sub__menu">
                        <li><a href="">Альтернативные миниатюры (69)</a></li>
                        <li><a href="">Warhammer 40k (400)</a></li>
                        <li><a href="">Age of Sigmar (263)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Nercomunda (21)</a></li>
                        <li><a href="">Lord of the Rings(16)</a></li>
                        <li><a href="">Blood Bowl (28)</a></li>
                        <li><a href="">Titanicus (4)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Warhammer: Underworlds (22)</a></li>
                        <li><a href="">Killtem (4)</a></li>
                     </ul>
                  </div>
               </li>
               <li>
                  <a href=""><span>Warhammer 40000</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <div class="category__sub">
                     <h3>Warhammer 40000</h3>
                     <ul class="category__sub__menu">
                        <li><a href="">Альтернативные миниатюры (69)</a></li>
                        <li><a href="">Warhammer 40k (400)</a></li>
                        <li><a href="">Age of Sigmar (263)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Nercomunda (21)</a></li>
                        <li><a href="">Lord of the Rings(16)</a></li>
                        <li><a href="">Blood Bowl (28)</a></li>
                        <li><a href="">Titanicus (4)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Warhammer: Underworlds (22)</a></li>
                        <li><a href="">Killtem (4)</a></li>
                     </ul>
                  </div>
               </li>
               <li>
                  <a href=""><span>Magic: the Gathering</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <div class="category__sub">
                     <h3>Magic: the Gathering</h3>
                     <ul class="category__sub__menu">
                        <li><a href="">Альтернативные миниатюры (69)</a></li>
                        <li><a href="">Warhammer 40k (400)</a></li>
                        <li><a href="">Age of Sigmar (263)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Nercomunda (21)</a></li>
                        <li><a href="">Lord of the Rings(16)</a></li>
                        <li><a href="">Blood Bowl (28)</a></li>
                        <li><a href="">Titanicus (4)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Warhammer: Underworlds (22)</a></li>
                        <li><a href="">Killtem (4)</a></li>
                     </ul>
                  </div>
               </li>
               <li>
                  <a href=""><span>Аксессуары для игр</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <div class="category__sub">
                     <h3>Аксессуары для игр</h3>
                     <ul class="category__sub__menu">
                        <li><a href="">Альтернативные миниатюры (69)</a></li>
                        <li><a href="">Warhammer 40k (400)</a></li>
                        <li><a href="">Age of Sigmar (263)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Nercomunda (21)</a></li>
                        <li><a href="">Lord of the Rings(16)</a></li>
                        <li><a href="">Blood Bowl (28)</a></li>
                        <li><a href="">Titanicus (4)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Warhammer: Underworlds (22)</a></li>
                        <li><a href="">Killtem (4)</a></li>
                     </ul>
                  </div>
               </li>
               <li>
                  <a href=""><span>Краски</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <div class="category__sub">
                     <h3>Краски</h3>
                     <ul class="category__sub__menu">
                        <li><a href="">Альтернативные миниатюры (69)</a></li>
                        <li><a href="">Warhammer 40k (400)</a></li>
                        <li><a href="">Age of Sigmar (263)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Nercomunda (21)</a></li>
                        <li><a href="">Lord of the Rings(16)</a></li>
                        <li><a href="">Blood Bowl (28)</a></li>
                        <li><a href="">Titanicus (4)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Warhammer: Underworlds (22)</a></li>
                        <li><a href="">Killtem (4)</a></li>
                     </ul>
                  </div>
               </li>
               <li>
                  <a href=""><span>Товары для детей</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <div class="category__sub">
                     <h3>Товары для детей</h3>
                     <ul class="category__sub__menu">
                        <li><a href="">Альтернативные миниатюры (69)</a></li>
                        <li><a href="">Warhammer 40k (400)</a></li>
                        <li><a href="">Age of Sigmar (263)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Nercomunda (21)</a></li>
                        <li><a href="">Lord of the Rings(16)</a></li>
                        <li><a href="">Blood Bowl (28)</a></li>
                        <li><a href="">Titanicus (4)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Warhammer: Underworlds (22)</a></li>
                        <li><a href="">Killtem (4)</a></li>
                     </ul>
                  </div>
               </li>
               <li>
                  <a href=""><span>Аксессуары моделизма</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <div class="category__sub">
                     <h3>Аксессуары моделизма</h3>
                     <ul class="category__sub__menu">
                        <li><a href="">Альтернативные миниатюры (69)</a></li>
                        <li><a href="">Warhammer 40k (400)</a></li>
                        <li><a href="">Age of Sigmar (263)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Nercomunda (21)</a></li>
                        <li><a href="">Lord of the Rings(16)</a></li>
                        <li><a href="">Blood Bowl (28)</a></li>
                        <li><a href="">Titanicus (4)</a></li>
                        <li><a href="">Warcry (49)</a></li>
                        <li><a href="">Warhammer: Underworlds (22)</a></li>
                        <li><a href="">Killtem (4)</a></li>
                     </ul>
                  </div>
               </li>
   
             </ul>
           </div>
         </div>
       </div>
      <div class="container search__bottom__container">
         <div class="header__top__search search__bottom">
            <input placeholder="Найти игру" type="text">
            <img src="../../assets/icons/header/header__top/akar-icons_search.png" alt=""
               class="header__top__search__icon">
         </div>
      </div>
      <div class="header__carusel">
         <div class="header__slide">
            <img src="../../assets/images/header/header__carusel/image.png" alt="">
            <div class="header__slide__box">
               <div class="header__slide__box__desc">
                  <div class="header__slide__box__desc__title">
                     Самая популярная карточная игра
                  </div>
                  <div class="header__slide__box__desc__name">
                     Magic: the Gathering
                  </div>
               </div>
               <a href="" class="header__slide__box__button">Подробнее</a>
            </div>
         </div>
         <div class="header__slide">
            <img src="../../assets/images/header/header__carusel/Rectangle 13.png" alt="">
            <div class="header__slide__box">
               <div class="header__slide__box__desc">
                  <div class="header__slide__box__desc__title">
                     Самая популярная карточная игра
                  </div>
                  <div class="header__slide__box__desc__name">
                     Magic: the Gathering
                  </div>
               </div>
               <a href="" class="header__slide__box__button">Подробнее</a>
            </div>
         </div>
         <div class="header__slide">
            <img src="../../assets/images/header/header__carusel/Rectangle 13.png" alt="">
            <div class="header__slide__box">
               <div class="header__slide__box__desc">
                  <div class="header__slide__box__desc__title">
                     Самая популярная карточная игра
                  </div>
                  <div class="header__slide__box__desc__name">
                     Magic: the Gathering
                  </div>
               </div>
               <a href="" class="header__slide__box__button">Подробнее</a>
            </div>
         </div>
         <div class="header__slide">
            <img src="../../assets/images/header/header__carusel/Rectangle 13.png" alt="">
            <div class="header__slide__box">
               <div class="header__slide__box__desc">
                  <div class="header__slide__box__desc__title">
                     Самая популярная карточная игра
                  </div>
                  <div class="header__slide__box__desc__name">
                     Magic: the Gathering
                  </div>
               </div>
               <a href="" class="header__slide__box__button">Подробнее</a>
            </div>
         </div>
      </div>
   </header>
   <section class="catalog">
      <div class="container">
         <h3 class="section__title">
            Каталог
         </h3>
         <div class="catalog__wrapper">
            <div class="catalog__wrapper__left">
               <a href="" class="catalog__item__link">
                  <img src="../../assets/images/catalog/image 6.png" alt="">
                  <div class="catalog__item__link__title">
                     Настольные игры
                  </div>
               </a>
            </div>
            <div class="catalog__wrapper__right">
               <a href="" class="catalog__item__link">
                  <img
                     src="../../assets/images/catalog/pasha-statkevich-pinkymarmalade-wot-console-artwork-fin-2000 1.png"
                     alt="">
                  <div class="catalog__item__link__title">
                     Варгеймы
                  </div>
               </a>
               <a href="" class="catalog__item__link">
                  <img src="../../assets/images/catalog/image 5.png" alt="">
                  <div class="catalog__item__link__title">
                     Краски
                  </div>
               </a>
               <a href="" class="catalog__item__link">
                  <img src="../../assets/images/catalog/image 4.png" alt="">
                  <div class="catalog__item__link__title">
                     Magic:the Cathering
                  </div>
               </a>
               <a href="" class="catalog__item__link">
                  <img src="../../assets/images/catalog/image 7.png" alt="">
                  <div class="catalog__item__link__title">
                     Весь каталог
                  </div>
               </a>
            </div>

         </div>
      </div>
   </section>
   <section class="try main__try">
      <div class="container">
         <div class="try__carusel__left">
            <img src="../../assets/icons/try/Vector (1).png" alt="">
         </div>
         <div class="try__carusel__right">
            <img src="../../assets/icons/try/Vector (2).png" alt="">
         </div>
         <div class="section__title">
            Успей купить
         </div>
         <div class="try__carusel try">
            <div class="try__carusel__item">
               <div class="try__carusel__item__img">
                  <img src="../../assets/images/try/image 10.png" alt="">
               </div>
               <div class="try__carusel__item__info">
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/audience 1.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        2-4
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/ic_sharp-timer.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        30-60
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__txt">
                        18+
                     </div>
                  </div>
               </div>
               <div class="try__carusel__item__title">
                  На марсе
               </div>
               <div class="try__carusel__item__footer">
                  <div class="try__carusel__item__price">
                     3657 ₽
                  </div>
                  <div class="try__carusel__item__btns">
                     <div class="add__cart">
                        <p>В корзину</p>
                        <img src="../../assets/icons/try/clarity_shopping-cart-line.png" alt="">
                     </div>
                     <div class="butOneClick">
                        Купить в 1 клик
                     </div>
                  </div>
               </div>
            </div>

            <div class="try__carusel__item">
               <div class="try__carusel__item__img">
                  <img src="../../assets/images/try/image 12.png" alt="">
               </div>
               <div class="try__carusel__item__info">
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/audience 1.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        2-4
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/ic_sharp-timer.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        30-60
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__txt">
                        18+
                     </div>
                  </div>
               </div>
               <div class="try__carusel__item__title">
                  Warhammer 40,000:
                  Chaos Space Marines
               </div>
               <div class="try__carusel__item__footer">
                  <div class="try__carusel__item__price">
                     3657 ₽
                  </div>
                  <div class="try__carusel__item__btns">
                     <div class="add__cart">
                        <p>В корзину</p>
                        <img src="../../assets/icons/try/clarity_shopping-cart-line.png" alt="">
                     </div>
                     <div class="butOneClick">
                        Купить в 1 клик
                     </div>
                  </div>
               </div>
            </div>
            <div class="try__carusel__item">
               <div class="try__carusel__item__img">
                  <img src="../../assets/images/try/image 10.png" alt="">
               </div>
               <div class="try__carusel__item__info">
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/audience 1.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        2-4
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/ic_sharp-timer.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        30-60
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__txt">
                        18+
                     </div>
                  </div>
               </div>
               <div class="try__carusel__item__title">
                  На марсе
               </div>
               <div class="try__carusel__item__footer">
                  <div class="try__carusel__item__price">
                     3657 ₽
                  </div>
                  <div class="try__carusel__item__btns">
                     <div class="add__cart">
                        <p>В корзину</p>
                        <img src="../../assets/icons/try/clarity_shopping-cart-line.png" alt="">
                     </div>
                     <div class="butOneClick">
                        Купить в 1 клик
                     </div>
                  </div>
               </div>
            </div>

            <div class="try__carusel__item">
               <div class="try__carusel__item__img">
                  <img src="../../assets/images/try/image 12.png" alt="">
               </div>
               <div class="try__carusel__item__info">
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/audience 1.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        2-4
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/ic_sharp-timer.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        30-60
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__txt">
                        18+
                     </div>
                  </div>
               </div>
               <div class="try__carusel__item__title">
                  Warhammer 40,000:
                  Chaos Space Marines
               </div>
               <div class="try__carusel__item__footer">
                  <div class="try__carusel__item__price">
                     3657 ₽
                  </div>
                  <div class="try__carusel__item__btns">
                     <div class="add__cart">
                        <p>В корзину</p>
                        <img src="../../assets/icons/try/clarity_shopping-cart-line.png" alt="">
                     </div>
                     <div class="butOneClick">
                        Купить в 1 клик
                     </div>
                  </div>
               </div>
            </div>
            <div class="try__carusel__item">
               <div class="try__carusel__item__img">
                  <img src="../../assets/images/try/image 10.png" alt="">
               </div>
               <div class="try__carusel__item__info">
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/audience 1.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        2-4
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/ic_sharp-timer.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        30-60
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__txt">
                        18+
                     </div>
                  </div>
               </div>
               <div class="try__carusel__item__title">
                  На марсе
               </div>
               <div class="try__carusel__item__footer">
                  <div class="try__carusel__item__price">
                     3657 ₽
                  </div>
                  <div class="try__carusel__item__btns">
                     <div class="add__cart">
                        <p>В корзину</p>
                        <img src="../../assets/icons/try/clarity_shopping-cart-line.png" alt="">
                     </div>
                     <div class="butOneClick">
                        Купить в 1 клик
                     </div>
                  </div>
               </div>
            </div>

            <div class="try__carusel__item">
               <div class="try__carusel__item__img">
                  <img src="../../assets/images/try/image 12.png" alt="">
               </div>
               <div class="try__carusel__item__info">
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/audience 1.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        2-4
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/ic_sharp-timer.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        30-60
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__txt">
                        18+
                     </div>
                  </div>
               </div>
               <div class="try__carusel__item__title">
                  Warhammer 40,000:
                  Chaos Space Marines
               </div>
               <div class="try__carusel__item__footer">
                  <div class="try__carusel__item__price">
                     3657 ₽
                  </div>
                  <div class="try__carusel__item__btns">
                     <div class="add__cart">
                        <p>В корзину</p>
                        <img src="../../assets/icons/try/clarity_shopping-cart-line.png" alt="">
                     </div>
                     <div class="butOneClick">
                        Купить в 1 клик
                     </div>
                  </div>
               </div>
            </div>
            <div class="try__carusel__item">
               <div class="try__carusel__item__img">
                  <img src="../../assets/images/try/image 10.png" alt="">
               </div>
               <div class="try__carusel__item__info">
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/audience 1.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        2-4
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/ic_sharp-timer.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        30-60
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__txt">
                        18+
                     </div>
                  </div>
               </div>
               <div class="try__carusel__item__title">
                  На марсе
               </div>
               <div class="try__carusel__item__footer">
                  <div class="try__carusel__item__price">
                     3657 ₽
                  </div>
                  <div class="try__carusel__item__btns">
                     <div class="add__cart">
                        <p>В корзину</p>
                        <img src="../../assets/icons/try/clarity_shopping-cart-line.png" alt="">
                     </div>
                     <div class="butOneClick">
                        Купить в 1 клик
                     </div>
                  </div>
               </div>
            </div>

            <div class="try__carusel__item">
               <div class="try__carusel__item__img">
                  <img src="../../assets/images/try/image 12.png" alt="">
               </div>
               <div class="try__carusel__item__info">
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/audience 1.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        2-4
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/ic_sharp-timer.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        30-60
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__txt">
                        18+
                     </div>
                  </div>
               </div>
               <div class="try__carusel__item__title">
                  Warhammer 40,000:
                  Chaos Space Marines
               </div>
               <div class="try__carusel__item__footer">
                  <div class="try__carusel__item__price">
                     3657 ₽
                  </div>
                  <div class="try__carusel__item__btns">
                     <div class="add__cart">
                        <p>В корзину</p>
                        <img src="../../assets/icons/try/clarity_shopping-cart-line.png" alt="">
                     </div>
                     <div class="butOneClick">
                        Купить в 1 клик
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="try special__try">
      <div class="container">
         <div class="special__try__left ">
            <img src="../../assets/icons/try/Vector (1).png" alt="">
         </div>
         <div class="special__try__right">
            <img src="../../assets/icons/try/Vector (2).png" alt="">
         </div>
         <div class="section__title">
            Специальные предложения
         </div>
         <div class="try__carusel">
            <div class="try__carusel__item">
               <div class="try__carusel__item__img">
                  <div class="try__carusel__item__precent">
                     -15%
                  </div>
                  <img src="../../assets/images/try/image 10.png" alt="">
               </div>
               <div class="try__carusel__item__info">
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/audience 1.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        2-4
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/ic_sharp-timer.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        30-60
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__txt">
                        18+
                     </div>
                  </div>
               </div>
               <div class="try__carusel__item__title">
                  На марсе
               </div>
               <div class="try__carusel__item__footer">
                  <div class="try__carusel__item__price">
                     <div class="try__carusel__item__price__old">
                        3657 ₽
                     </div>
                     <div class="try__carusel__item__price__new">
                        3657 ₽
                     </div>

                  </div>
                  <div class="try__carusel__item__btns">
                     <div class="add__cart">
                        <p>В корзину</p>
                        <img src="../../assets/icons/try/clarity_shopping-cart-line.png" alt="">
                     </div>
                     <div class="butOneClick">
                        Купить в 1 клик
                     </div>
                  </div>
               </div>
            </div>

            <div class="try__carusel__item">
               <div class="try__carusel__item__img">
                  <div class="try__carusel__item__precent">
                     -15%
                  </div>
                  <img src="../../assets/images/try/image 10.png" alt="">
               </div>
               <div class="try__carusel__item__info">
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/audience 1.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        2-4
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/ic_sharp-timer.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        30-60
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__txt">
                        18+
                     </div>
                  </div>
               </div>
               <div class="try__carusel__item__title">
                  На марсе
               </div>
               <div class="try__carusel__item__footer">
                  <div class="try__carusel__item__price">
                     <div class="try__carusel__item__price__old">
                        3657 ₽
                     </div>
                     <div class="try__carusel__item__price__new">
                        3657 ₽
                     </div>

                  </div>
                  <div class="try__carusel__item__btns">
                     <div class="add__cart">
                        <p>В корзину</p>
                        <img src="../../assets/icons/try/clarity_shopping-cart-line.png" alt="">
                     </div>
                     <div class="butOneClick">
                        Купить в 1 клик
                     </div>
                  </div>
               </div>
            </div>
            <div class="try__carusel__item">
               <div class="try__carusel__item__img">
                  <div class="try__carusel__item__precent">
                     -15%
                  </div>
                  <img src="../../assets/images/try/image 10.png" alt="">
               </div>
               <div class="try__carusel__item__info">
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/audience 1.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        2-4
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/ic_sharp-timer.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        30-60
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__txt">
                        18+
                     </div>
                  </div>
               </div>
               <div class="try__carusel__item__title">
                  На марсе
               </div>
               <div class="try__carusel__item__footer">
                  <div class="try__carusel__item__price">
                     <div class="try__carusel__item__price__old">
                        3657 ₽
                     </div>
                     <div class="try__carusel__item__price__new">
                        3657 ₽
                     </div>

                  </div>
                  <div class="try__carusel__item__btns">
                     <div class="add__cart">
                        <p>В корзину</p>
                        <img src="../../assets/icons/try/clarity_shopping-cart-line.png" alt="">
                     </div>
                     <div class="butOneClick">
                        Купить в 1 клик
                     </div>
                  </div>
               </div>
            </div>
            <div class="try__carusel__item">
               <div class="try__carusel__item__img">
                  <div class="try__carusel__item__precent">
                     -15%
                  </div>
                  <img src="../../assets/images/try/image 10.png" alt="">
               </div>
               <div class="try__carusel__item__info">
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/audience 1.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        2-4
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/ic_sharp-timer.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        30-60
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__txt">
                        18+
                     </div>
                  </div>
               </div>
               <div class="try__carusel__item__title">
                  На марсе
               </div>
               <div class="try__carusel__item__footer">
                  <div class="try__carusel__item__price">
                     <div class="try__carusel__item__price__old">
                        3657 ₽
                     </div>
                     <div class="try__carusel__item__price__new">
                        3657 ₽
                     </div>

                  </div>
                  <div class="try__carusel__item__btns">
                     <div class="add__cart">
                        <p>В корзину</p>
                        <img src="../../assets/icons/try/clarity_shopping-cart-line.png" alt="">
                     </div>
                     <div class="butOneClick">
                        Купить в 1 клик
                     </div>
                  </div>
               </div>
            </div>
            <div class="try__carusel__item">
               <div class="try__carusel__item__img">
                  <div class="try__carusel__item__precent">
                     -15%
                  </div>
                  <img src="../../assets/images/try/image 10.png" alt="">
               </div>
               <div class="try__carusel__item__info">
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/audience 1.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        2-4
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__icon">
                        <img src="../../assets/icons/try/ic_sharp-timer.png" alt="">
                     </div>
                     <div class="try__carusel__item__info__column__txt">
                        30-60
                     </div>
                  </div>
                  <div class="try__carusel__item__info__column">
                     <div class="try__carusel__item__info__column__txt">
                        18+
                     </div>
                  </div>
               </div>
               <div class="try__carusel__item__title">
                  На марсе
               </div>
               <div class="try__carusel__item__footer">
                  <div class="try__carusel__item__price">
                     <div class="try__carusel__item__price__old">
                        3657 ₽
                     </div>
                     <div class="try__carusel__item__price__new">
                        3657 ₽
                     </div>

                  </div>
                  <div class="try__carusel__item__btns">
                     <div class="add__cart">
                        <p>В корзину</p>
                        <img src="../../assets/icons/try/clarity_shopping-cart-line.png" alt="">
                     </div>
                     <div class="butOneClick">
                        Купить в 1 клик
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>


   <section class="events">
      <div class="container">
         <div class="section__title">
            Ближайшие мероприятия
         </div>
         <div class="events__wrapper">
            <a href="" class="event">
               <img src="../../assets/images/events/image 16.png" alt="">
               <div class="event__box">
                  <div class="event__box__top">
                     <div class="event__box__top__name">Halloween c GoldFish</div>
                     <div class="event__box__top__date">31 октября 2021 г. 19:00</div>
                  </div>
                  <div class="event__box__text">
                     Мы соберемся,чтобы узнать,кто же все-таки был Мафией и что
                     будет с тем,кого убили..
                  </div>
               </div>
            </a>
            <a href="" class="event">
               <img src="../../assets/images/events/image 17.png" alt="">
               <div class="event__box">
                  <div class="event__box__top">
                     <div class="event__box__top__name">Турнир Warhammer</div>
                     <div class="event__box__top__date">9 ноября 2021 г. 18:30</div>
                  </div>
                  <div class="event__box__text">
                     Готов сразиться в ожесточенной битве Warhammer? Нет? Мы тебя
                     обязтально научим!
                  </div>
               </div>
            </a>
         </div>
         <div class="events__laod">
            Показать еще
         </div>
      </div>
   </section>


   <section class="moreInfo">
      <div class="container">
         <div class="section__title">
            Больше интересной информации
         </div>
         <div class="moreInfo__wrapper">
            <div class="moreInfo__item">
               <img src="../../assets/images/moreInfo/image 18.png" alt="">
               <div class="moreInfo__item__box">
                  <div class="moreInfo__item__box__title">
                     Аэронавтика Империалис:
                     введение в игру
                  </div>
                  <div class="moreInfo__item__box__desc">
                     Детально ознакомимся с правилами игры
                  </div>
               </div>
            </div>
            <div class="moreInfo__item">
               <img src="../../assets/images/moreInfo/image 18.png" alt="">
               <div class="moreInfo__item__box">
                  <div class="moreInfo__item__box__title">
                     Аэронавтика Империалис:
                     введение в игру
                  </div>
                  <div class="moreInfo__item__box__desc">
                     Детально ознакомимся с правилами игры
                  </div>
               </div>
            </div>
            <div class="moreInfo__item">
               <img src="../../assets/images/moreInfo/image 18.png" alt="">
               <div class="moreInfo__item__box">
                  <div class="moreInfo__item__box__title">
                     Аэронавтика Империалис:
                     введение в игру
                  </div>
                  <div class="moreInfo__item__box__desc">
                     Детально ознакомимся с правилами игры
                  </div>
               </div>
            </div>
            <div class="moreInfo__item">
               <img src="../../assets/images/moreInfo/image 18.png" alt="">
               <div class="moreInfo__item__box">
                  <div class="moreInfo__item__box__title">
                     Аэронавтика Империалис:
                     введение в игру
                  </div>
                  <div class="moreInfo__item__box__desc">
                     Детально ознакомимся с правилами игры
                  </div>
               </div>
            </div>
         </div>
         <a href="" class="moreInfo__item__btn">
            Узнать больше
         </a>
      </div>
   </section>

   <section class="about">
      <div class="container">
         <div class="about__wrapper">
            <div class="about__desc">
               <div class="section__title">
                  Об игровом центре «GoldFish»
               </div>
               <div class="about__desc__text">
                  «GoldFish»- магазин, в котором Вы можете купить отличный подарок как для себя, так и для своих
                  близких.
                  <br>
                  <br>
                  В ассортименте нашего магазина представлены тысячи настольных игр на любой вкус: простые и посложнее,
                  семейные и только для взрослых, для двоих и для больших компаний, детективные и логические, ролевые и
                  стратегические настолки. «GoldFish» также регулярно проводит собственные игротеки:турниры по Magic:
                  the Gathering (от компании Wizards of the coast) и Warhammer (от Games Workshop).
                  <br>
                  <br>
                  В нашем магазине можно найти нужные аксессуары для любимых игр (протекторы для карт и коллекций),
                  инструменты для самостоятельного оформления и покраски фигурок (кейсы, подставки, краски Vallejo и
                  др.) и многое другое.
                  <br>
                  <br>
                  «GoldFish» - это не только магазин настольных игр, но и полноценный хобби-центр. Здесь можно
                  арендовать столы для игр с друзьями, проходить обучение и мастер-классы по интересующим тебя играм,
                  заводить новые знакомства и приобщаться к игровому комьюнити!
               </div>
            </div>
            <div class="about__image">
               <img src="../../assets/images/about/image 21.png" alt="">
            </div>
         </div>
      </div>
   </section>

   <section class="contacts">
      <div class="container">
         <div class="section__title">Контакты</div>
         <div class="contacts__wrapper">
            <div class="contacts__info">
               <div class="contacts__info__rows">
                  <div class="contacts__info__row">
                     <div class="contacts__info__row__icon">
                        <img src="../../assets/icons/contacts/carbon_phone-voice.png" alt="">
                     </div>
                     <div class="contacts__info__text">
                        <span>Телефон:</span>
                        <a href="">+7 (495) 911-10-11</a>
                     </div>
                  </div>
                  <div class="contacts__info__row">
                     <div class="contacts__info__row__icon">
                        <img src="../../assets/icons/contacts/letter 1.png" alt="">
                     </div>
                     <div class="contacts__info__text">
                        <span>E-mail:</span>
                        <a href="">msk@magicgoldfish.ru</a>
                     </div>
                  </div>
                  <div class="contacts__info__row">
                     <div class="contacts__info__row__icon">
                        <img src="../../assets/icons/contacts/clarity_map-marker-line.png" alt="">
                     </div>
                     <div class="contacts__info__text">
                        <span>Адрес:</span>
                        <a href="">г. Москва ст.м. Таганская (кольцевая)
                           Малый Дровяной переулок 6</a>
                     </div>
                  </div>
                  <div class="contacts__info__row">
                     <div class="contacts__info__row__icon">
                        <img src="../../assets/icons/contacts/bi_clock.png" alt="">
                     </div>
                     <div class="contacts__info__text">
                        <span>Режим работы клуба:</span>
                        <a href="">11:00-23:00 (ежедневно)</a>
                     </div>
                  </div>
               </div>

            </div>
            <div class="contacts__map">
               <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.7129752193423!2d37.654956876407105!3d55.74611589250666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54aeebb783f65%3A0x2e7b1059e0dbc519!2sMalyy%20Drovyanoy%20Pereulok%2C%20Moskva%2C%20Rusiya%2C%20109004!5e0!3m2!1saz!2saz!4v1685271197087!5m2!1saz!2saz"
                  style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="contacts__info__more">
               <div class="contacts__info__more__title">
                  Остались вопросы?
               </div>
               <form action="" class="contacts__info__more__form">
                  <div class="contacts__info__more__form__row">
                     <label for="name">Ваше имя</label>
                     <input placeholder="Имя" id="name" name="name" type="text">
                  </div>
                  <div class="contacts__info__more__form__row">
                     <label for="phone">Ваш телефон</label>
                     <input id="phone" name="phone" type="text">
                  </div>
                  <div class="contacts__info__more__form__row">
                     <label for="comment">Ваш комментарий</label>
                     <textarea id="comment" name="comment" placeholder="Комментарий"></textarea>
                  </div>

                  <div class="contacts__info__more__form__row">
                     <button>Заказать звонок</button>
                  </div>
                  <div class="contacts__info__more__form__link">
                     Нажимая на кнопку <a href="">"Заказать звонок"</a>, я даю <a style="text-decoration: underline;"
                        href="">согласие на
                        обработку персональных данных.</a>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </section>

   <footer class="footer">

      <div class="footer__top">
         <div class="container">
            <div class="footer__top__wrapper">
               <div class="footer__top__left">
                  <div class="footer__top__left__logo">
                     <a href="">
                        <img src="../../assets/icons/header/header__top/l3 1.png" alt="">
                     </a>
                  </div>
                  <div class="footer__top__left__adress">
                     г. Москва ст.м. Таганская
                     Малый Дровяной переулок 6
                  </div>
               </div>
               <div class="footer__el">
                  <div class="footer__top__links">
                     <ul class="footer__catalog">
                        <div class="footer__list__title">Каталог</div>
                        <li><a href="">
                              Warhammer 40000
                           </a></li>
                        <li><a href="">Настольные игры</a></li>
                        <li><a href="">Magic: the Gathering</a></li>
                        <li><a href="">Аксессуары для игр</a></li>
                        <li><a href=""> Краски</a></li>
                        <li><a href="">Аксессуары для
                              моделизма</a></li>
                     </ul>
                     <ul class="footer__rules">
                        <div class="footer__list__title">Правила клуба</div>
                        <li><a href="">Мероприятия</a></li>
                        <li><a href="">О нас</a></li>
                        <li><a href="">Контакты</a></li>
                        <li><a href="">Блог</a></li>
                     </ul>
                     <ul class="footer__order">
                        <div class="footer__list__title">Оплата и достака</div>
                        <li><a href="">Гарантия и возврат</a></li>
                     </ul>
                  </div>
                  <div class="footer__right">
                     <div class="footer__top__left__adress__none">
                        г. Москва ст.м. Таганская
                        Малый Дровяной переулок 6
                     </div>
                     <a class="footer__right__btn" href="">Заказать звонок</a>
                     <a href="" class="footer__right__phone">+7 (495) 911-10-11</a>
                     <a href="" class="footer__right__email">msk@magicgoldfish.ru</a>
                     <div class="footer__right__social">
                        <a href=""><img src="../../assets/icons/header/navigation/bi_instagram.png" alt=""></a>
                        <a href=""><img src="../../assets/icons/header/navigation/vk.png" alt=""></a>
                        <a href=""><img src="../../assets/icons/header/navigation/fb.png" alt=""></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="footer__hr"></div>
      <div class="footer__bottom">
         <div class="container">
            <div class="footer__bottom__wrapper">
               <div class="footer__bottom__link">
                  © 2021 MagicGoldFish.ru
                  <a href="">Политика конфиденциальности</a>
               </div>
               <div class="footer__bottom__cards">
                  <div class="footer__bottom__card"><img src="../../assets/icons/footer/Group (1).png" alt=""></div>
                  <div class="footer__bottom__card"><img src="../../assets/icons/footer/Vector (1).png" alt=""></div>
                  <div class="footer__bottom__card"><img src="../../assets/icons/footer/Group (2).png" alt=""></div>
               </div>
               <div class="footer__bottom__link">
                  Содержимое не является публичной офертой
                  <a href="">Пользовательское соглашение</a>
               </div>
            </div>
         </div>
      </div>

   </footer>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
   <script src="../../assets/scripts/script.js"></script>
   <script>
     
   </script>
</body>

</html>