:root {
      --main-font-family1: "Trebuchet MS";
      --main-font-family2: 'Open Sans';
      --color1: white;
      --color2: #2A2A2A;
      --color3: #363636;
      --color4: #F9A43F;
      --color5: #CACACA;
      --color6: black;
      --color7: #101F27;
      --color8: #02060B;
      --color9: #B2B1B9
}
input[type=checkbox] {
   accent-color: var(--color1);
 }
/* header__top */
.header__top {
   background-color: var(--color2);
   padding: 24px 0;
}
.header__top__logo {
   width: 157px;
   height: 37px;
}
.header__top__logo>a {
   width: 100%;
   height: 100%;
}
.header__top__logo>a>img {
   width: 100%;
   height: 100%;
   object-fit: fill;
}
.header__top__wrapper, .header__top__left, .header__top__right {
   display: flex;
   align-items: center;
}
.header__top__wrapper {
   justify-content: space-between;
}
.header__top__left {
   column-gap: 33px;
}
.header__top__right {
   column-gap: 63px
}

.header__top__search {
   width: 475px;
   height: 38px;  
   position: relative;
   border: 1px solid #F2F2F2;
   border-radius: 9px;
   overflow: hidden;
}
.header__top__search input {
   display: block;
   width: 100%;
   height: 100%;
   border: none;
   padding-left: 12px;
   outline: none;
}
.header__top__search input:focus {
   border: none
}
.header__top__search img {
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
}

.header__top__num {
   display: flex;
   align-items: center;
   column-gap: 9.75px
}

.header__top__user {
   display: flex;
   align-items: center;
   column-gap: 14px
}
.header__top__num>a {
   font-family: var(--main-font-family1);
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 23px;
   color: var(--color1);
}

.header__top__num img, .header__top__user img {
   width: 30px;
   height: 28.3px;
   object-fit: fill;
}



/* navbar */

.navbar__wrapper, .navbar__links, .navbar__links>ul,  .navbar__social>ul {
   display: flex;
   align-items: center
}
.navbar__wrapper {
   justify-content: space-between;
   padding: 16px 0;
}
.navbar__links {
   column-gap: 86px
}
.navbar__links>ul {
   column-gap: 69px
}
.navbar__social>ul {
   column-gap: 10.89px
}
.navbar__links a {
   font-family: var(--main-font-family1);
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   color: var(--color2)
}
.navbar__links__hamburger {
   display: flex;
   align-items: center;
   column-gap: 14px
}
.navbar__links__hamburger__btn {
   width: 16px;
   height: 14px;
   display: flex;
   flex-direction: column;
   row-gap: 4.25px;
   cursor: pointer;
}
.navbar__links__hamburger__btn span {
   display: block;
   height: 2.25px;
   background-color: var(--color2);
   width: 100%;
}


/* footer */
.footer {
   margin-top: 85px;
   background: var(--color2);
   padding: 64px 0 34px 0;
}
.footer__top__wrapper {
   justify-content: space-between;
   display: flex;
}
.footer__top__links {
   display: flex;
   column-gap: 52px
}
.footer__top__links>ul {
   display: flex;
   flex-direction: column;
   max-width: 151px;
}

.footer__list__title {
   font-style: normal;
   font-weight: 700;
   font-size: 19px;
   line-height: 22px;
   color: var(--color1);
   font-family: var(--main-font-family1);
   margin-bottom: 9px;
}

.footer__catalog a {
   font-weight: 400 !important;
   font-size: 16px !important;
   line-height: 20px !important;
}

.footer__top__links>ul a {
   font-style: normal;
   font-weight: 700;
   font-size: 19px;
   line-height: 30px;
   color: var(--color1);
   font-family: var(--main-font-family1);
}

.footer__top__left__adress, .footer__top__left__adress__none {
   color: var(--color1);
   font-family: var(--main-font-family1);
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   max-width: 214px;
}
.footer__top__left__adress__none {
   display: none;
}
.footer__right__btn {
   width: 225px;
   height: 51px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-style: normal;
   font-weight: 700;
   font-size: 19px;
   line-height: 22px;
   color: var(--color4);
   font-family: var(--main-font-family1);
   border: 1px solid var(--color4);
   border-radius: 9px;
   margin-bottom: 40px;
}
.footer__right__phone {
   margin-bottom: 8px;
}
.footer__right__phone, .footer__right__email {
   display: block;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   font-family: var(--main-font-family1);
   color: var(--color1);
}

.footer__top__left__logo {
   width: 152px;
   height: 36px;
   margin-bottom: 16px;
}

.footer__top__left__logo img {
   width: 100%;
   height: 100%;
   object-fit: fill;
}

.footer__right__social {
   margin-top: 21px;
   display: flex;
   column-gap: 11px
}

.footer__right {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.footer__el {
   display: flex;
}
.footer__bottom {
   margin-top: 30px;
}
.footer__bottom__wrapper, .footer__bottom__cards {
   display: flex;
   justify-content: space-between;
}
.footer__bottom__cards {
   column-gap: 30px
}
.footer__bottom__link:first-child {
   max-width: 220px;
}
.footer__bottom__link:last-child {
   max-width: 319px;
}
.footer__bottom__link, .footer__bottom__link a {
   font-family: var(--main-font-family1);
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 17px;
   color: rgba(255, 255, 255, 0.44);
}

.footer__bottom__link a {
   text-decoration: underline;
}

.footer__hr {
   height: 1px;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.44);
   margin-top: 86px;
}


.container {
   max-width: 1110px;
   margin: 0 auto;
   width: 100%;
}
.section__title {
   font-family: var(--main-font-family1);
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 37px;
   color: var(--color2)
}


.try__carusel {
   margin-top: 21px;
}
.try__carusel {
   margin: 0 -15px;
   margin-top: 21px;

}
.try__carusel .slick-slide {
   box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.16);
   border-radius: 9px;
   margin: 0 15px;
   padding-top: 26px;
}
/* .try .slick-list .draggable {
   height: 1200px !important;
} */
.try__carusel__item {
   height: 409px;
   position: relative;
   box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.16);
   border-radius: 9px;
}
.try__carusel__item__footer {
   position: absolute;
   width: 100%;
   left: 50%;
   transform: translateX(-50%);
   bottom: 25px;
}
.try__carusel__item__img {
   width: max-content;
   margin: 0 auto;
   height: 168px;
}
.try__carusel__item__img img {
   height: 100%;
   object-fit: fill;
}
.try__carusel__item__info, .try__carusel__item__info__column {
   display: flex;
   align-items: center;
}
.try__carusel__item__info {
   column-gap: 23px;
   width: max-content;
   margin: 0 auto;

}
.try__carusel__item__info__column {
   column-gap: 6px
}

.try__carusel__item__info__column__txt {
   font-family: var(--main-font-family1);
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 13px;
   color: var(--color2)
}

.try__carusel__item__title {
   font-family: var(--main-font-family1);
   color: var(--color2);
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 128.68%;
   max-width: 155px;
   margin: 0 auto;
   text-align: center;
   margin-top: 10px;
}

.try__carusel__item__price {
   font-style: normal;
   font-weight: 700;
   font-size: 21px;
   line-height: 24px;
   font-family: var(--main-font-family1);
   color: var(--color2);
   text-align: center;
}

.add__cart {
   max-width: 163px;
   background: linear-gradient(184.53deg, #F9A43F 5.27%, #FB791B 91.78%);
   border-radius: 9px;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   font-family: var(--main-font-family1);
   color: var(--color1);
   display: flex;
   align-items: center;
   height: 34px;
   padding-left: 29px;
   column-gap: 8.65px;
   margin: 0 auto;
}

.try__carusel__item__btns {
   margin-top: 11px;
}
.try__carusel {
   position: relative;
}
.butOneClick {
   max-width: 163px;
   border-radius: 9px;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   font-family: var(--main-font-family1);
   color: var(--color4);
   border: 1px solid var(--color4);
   display: flex;
   align-items: center;
   height: 34px;
   padding-left: 29px;
   column-gap: 8.65px;
   margin: 0 auto;
   margin-top: 10px;
}
.try .container {
   position: relative;
}
.try .try__carusel__left, .special__try__left {
   position: absolute;
   top: 50%;
   left: -48px;
   cursor: pointer;
}

.try .try__carusel__right, .special__try__right {
   position: absolute;
   top: 50%;
   right: -48px;

   cursor: pointer;
}

.special__try {
   padding-top: 85px;
   position: relative;
}

.main__try .slick-list, .special__try .slick-list {
   height: 420px !important;
}
.try__carusel__item__price {
   display: flex;
   column-gap: 18px;
   width: max-content;
   margin: 0 auto;
}
.try__carusel__item__price__old {
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   font-family: var(--main-font-family1);
   color: var(--color2);
   position: relative;
}

.try__carusel__item__price__old::before {
   content: "";
   width: 63.32px;
   transform: rotate(-12deg);
   top: 10px;
   right: 1px;
   background-color: var(--color2);
   height: 2px;
   position: absolute;
}

.try__carusel__item__precent {
   background: var(--color4);
   width: 69px;
   height: 29px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 14px;
   font-family: var(--main-font-family2);;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
   color: var(--color1);
   position: absolute;
   top: 20px;
   right: 21px;
}


@media(max-width: 1110px) {
   .container {
      padding: 0 20px;
   }
}




.header__hamburger {
   width: 18px;
   height: 15.75px;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   cursor: pointer;
}
.header__hamburger span {
   display: block;
   height: 2.25px;
   background-color: var(--color1);
   width: 100%;
}
.search__bottom {
   display: block !important;
   width: 100% !important;
   margin-top: 9px;
}
.search__bottom__container {
   display: none;
}
.page__links {
   margin-top: 30px;
   margin-bottom: 9px;
}
.page__links__wrapper {
   display: flex;
   column-gap: 20px;
   align-items: center;
}

.page__links__wrapper a {
   display: block;
   font-family: var(--main-font-family1);
   font-style: normal;
   color: var(--color2);
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
}


.catalog__menu {
   z-index: 10000;
   width: 100%;
   height: max-content;
   padding-top: 86px;
   position: fixed;
   top: 0;
   left: 0;
   display: none;
   background-color: rgba(0,0,0,0.5);
   
  }
 
  .catalog__menu__list {
   background-color: white;  
   width: 100%;
   height: max-content;
   position: relative;
  }
 
  .catalog__menu.active {
   display: block;
 
   height: 100%;
  }
 
  .main__category__list a {
   cursor: pointer;
   column-gap: 18px !important;
   justify-content: stretch !important;
   width: 100%;
  }
  .catalog__menu__list li {
   padding: 8px 0;
   width: 100%;
   padding-left: 30px;
   padding-right: 18px;
  }
  .catalog__menu__list a {
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   color: var(--color2);
   font-family: var(--main-font-family1);
   display: flex;
   align-items: center;
   column-gap: 42px;
   justify-content: space-between;
  }
 
  .catalog__menu__list>ul {
   max-width: 255px ;
   border-right: 2px solid rgba(42, 42, 42, 0.26);
  }
 
  .main__category__list {
   padding-top: 13px !important;
   padding-bottom: 13px !important;
   margin-bottom: 7px;
   cursor: pointer;
   border-bottom: 2px solid rgba(42, 42, 42, 0.26);
  }
 
  .navbar__links__hamburger {
   cursor: pointer;
  }
  
  .category__sub__menu {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 38px;
   row-gap: 0px !important;
  }
  
  .category__sub.active {
   position: absolute;
   padding-top: 17px;
   top: 0;
   right: -90px;
   display: block;

  }
  .category__sub {
   display: none ;

  }
  .category__sub__menu a {
   font-style: normal !;
   font-weight: 600 !important;
   font-size: 16px;
   line-height: 249.6%;
   font-family: var(--main-font-family1);
   color: var(--color2)
  }

  .category__sub h3 {
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 23px;
   font-family: var(--main-font-family1);
   color: var(--color2);
   margin-left: 30px;
   margin-bottom: 16px;
  }
@media(max-width: 1190px) {
   .header__top__search {
      width: 350px;
   }
   .navbar__links>ul {
      column-gap: 30px
   }
   .navbar__links {
      column-gap: 46px
   }
}
@media(max-width: 1120px) { 
   .category__sub {
      left: 240px;
      padding-right: 40px;
   }

}


@media(max-width: 1080px) {
   .category__sub {
      
      padding-right: 80px;
   }
}
@media(max-width: 1110px) {
   .footer__top__wrapper {
      flex-direction: column;
      row-gap: 50px;
   }
 
}
@media(max-width: 991px) {
   .catalog__menu {
      display: none;
   }

   .header__top__search {
      display: none;
   }
   .header__hamburger {
      display: flex;
      height: 20px;
      width: 25px;
   }
   .navbar {
      display: none;
   }
   .search__bottom__container {
      display: block;
   }
 
}
@media(max-width: 840px) {
   .footer__bottom__cards {
      display: none;
   }
   .footer__el {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 50px
   }
}


@media(max-width: 600px) {
   .page__links {
      display: none;
   }
   .footer__top__left__adress {
      margin: 0 auto;
   }
   .footer__bottom__wrapper {
      width: 100%;
      margin: 0 auto;
      flex-direction: column;
      
   }
   .footer__bottom__link {
      text-align: center;
      margin: 0 auto;
   }

   .header__top__num {
      display: none;
   }
   .header__top__logo {
      width: 121px;
      height: 28px;
   }
   .header__top__num img, .header__top__user img {
      width: 20px;
      height: 19.17px;
      object-fit: fill;
   }
   
}

@media(max-width: 570px) {
   .footer__top__left__adress__none {
      display: block;
      margin-bottom: 15px;
   }
   .footer__top__left__logo {
      margin: 0 auto;
      margin-bottom: 30px;
   }
   .footer__el, .footer__top, .footer__right {
      align-items: center
   }
   .footer__rules, .footer__order, .footer__right__btn {
      display: none !important;
   }
   .footer__catalog {
      text-align: center;
   }
 
}










@media(max-width: 450px) {
   .section__title {
      font-size: 21px;
      line-height: 24px;
   }
   .footer {
      margin-top: 35px;
   }
}